nav {
  height: 5rem;
  width: 100%;
  background: var(--color-primary);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav_toggle-btn {
  display: none;
}

.nav_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  width: 10rem;
  display: block;
}

.logo img {
  filter: contrast(1.5) brightness(0.85);  /* Increase contrast and reduce brightness for bolder appearance */
  -webkit-filter: contrast(1.5) brightness(0.85);
}


.nav_links {
  display: flex;
  gap: 3.5rem;
  align-items: center;
}

.nav_links a {
  transition: var(--transition);
}

.nav_links a:hover {
  color: var(--color-secondary);
}

.active-nav {
  position: relative;
}

.active-nav::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: var(--color-primary);
  position: absolute;
  left: calc(50% - 0.6rem);
  transform: rotate(45deg);
  margin-top: 0.9rem;
}

/* MEDIA QUERIES (medium and small screens)*/
@media screen and (max-width: 102.4rem) {
  .nav_toggle-btn {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav_toggle-btn svg {
    color: var(--color-gray-100);
  }

  .nav_links {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    perspective: 40rem;
    width: 100%;
    max-width: 25rem;
    transform: translateX(100%); /* Start off-screen */
    transition: transform 300ms ease-in-out;
  }

  .active-nav, .active-nav::after {
    display: none;
  }

 .nav_links li {
    height: 4rem;
    width: 100%;
    box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.4);
    opacity: 0;
    transform: translateY(-2rem);  /* Initially hidden off-screen */
    animation: slideIn 300ms ease forwards;
  }

    .nav_links li:nth-child(2) {
    animation-delay: 200ms;
    
  }

  .nav_links li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav_links li:nth-child(4) {
    animation-delay: 600ms;
   
  }
 
  /* Slide-in animation */
  @keyframes slideIn {
    from {
      transform: translateY(-2rem);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .nav_links li a {
    background-color: var(--color-primary);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 5rem 1rem 3rem;
  }

  .show_nav {
    display: flex;
    transform: translateX(0); /* Slide in */
  }
  
  .hide_nav {
    transform: translateX(100%); /* Slide out */
    display: flex; /* Keep it in the DOM for animation */
    opacity: 0;
    pointer-events: none; /* Prevent interaction while hidden */
  }
  
  @keyframes slideInMenu {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}